.AppBar {
    background-color: #A5C9CA !important;
}

.Box {
    background-color: #FFFFFF;
    color: #395B64;
}

@media (prefers-color-scheme: dark) {
    .AppBar {
        background-color: #395B64 !important;
    }

    .Box {
        background-color: darkslategrey;
        color: white;
    }
}