.post {
    width: 65%;
    margin: 1rem auto;
}

.postTitle {
    margin: 5rem 0 0 0;
    padding: 0 0 0 2rem;
    cursor: default;
}

.postSubtitle {
    padding: 0.8rem 0 0 2rem;
    cursor: default;
}

.postContent {
    padding: 2rem;
    line-height: 2rem;
}

.postContent a {
    color: #03b5ff;
    transition: 0.5s;
}

.postContent a:hover {
    color: #0070f3;
}

.postContent img {
    width: 600px;
    height: auto;
    margin: 1rem auto;
    display: flex;
}



@media (max-width: 1000px) {
    .post {
        width: 90%;
    }

    .postContent {
        padding: 1rem;
        line-height: 2rem;
        font-size: 1.1rem;
    }

    .postContent img {
        width: 300px;
    }
}